<div class="row my-5 justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
      <h3 class="text-center mb-5">회원가입</h3>
      <form id="join" name="frm" method="post">
        <div class="input-group my-2">
          <div class="input-group-text">이 메 일</div>
          <input class="form-control" id="email" name="email" value="tomato@hot.com" />
        </div>
        <div class="input-group">
          <div class="input-group-text">비밀번호</div>
          <input
            class="form-control"
            name="password"
            type="password"
            value="12345678"
          />
        </div>
        <div class="my-3">
          <button class="btn btn-success w-100">회원가입</button>
        </div>
        <div class="text-end mt-3"><a href="/login">로그인</a></div>
      </form>
    </div>
  </div>