회원정보수정페이지
<div class="row my-5">
  <div class="col">
    <h1 class="text-center mb-5">회원정보수정</h1>
    <div class="card p-5">
      <form name="frm" method="post">
        <div class="input-group my-2">
          <div class="input-group-text px-5">성명</div>
          <input class="form-control" name="name" value="나잘난" />
        </div>
        <div class="input-group my-2">
          <div class="input-group-text px-5">주소</div>
          <input class="form-control" name="address" value="서울특별시 금천구 가산디지털2로" />
        </div>
        <div class="input-group my-2">
          <div class="input-group-text px-5">전화</div>
          <input class="form-control" name="phone" value="010-1010-2020" />
        </div>
        <div>
          <img id="fileName" src="https://placehold.co/200x200" width="30%" />
          <input class="form-control mt-2" type="file" id="file" accept="image/*" />
        </div>
        <div class="text-center mt-3">
          <button class="btn-primary btn px-5">정보수정</button>
        </div>
      </form>
    </div>
  </div>
</div>